@import "../../styles/mixins";
main {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-inline: 10%;
  ul li {
    &::first-letter {
      text-transform: capitalize;
    }
    span {
      text-decoration: underline solid;
    }
  }
  table {
    border: 1px solid darkblue;
    thead {
      background-color: darkblue;
      color: white;
    }
    tr:not(:last-child) td {
      border: 1px solid darkblue;
    }
    tr td:not(:last-child) {
      border: 1px solid darkblue;
    }
  }
  h1 {
    text-align: center;
    text-transform: uppercase;
  }
  .details__header {
    @include arcadeButton();

    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    img {
      max-width: 100%;
      width: 25%;
      object-fit: contain;
    }
  }
  .details__moves {
    @include arcadeButton();
    padding: 40px;
    width: 100%;
    display: flex;
    // flex-direction: column;
    // align-items: center;
    column-gap: 30px;
    flex-wrap: wrap;
    // max-height: 800px;
    .moves__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 300px;
      // column-gap: 30px;
      &--big {
        width: 100%;
      }
    }
  }
}
